/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(-30px);
  animation: bounceIn 1s ease forwards;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-text {
  color: #666;
  line-height: 1.6;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease 0.5s forwards;
  transition: color 0.3s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Banner section styles */
.banner {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease;
}

.banner:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: padding 0.3s ease;
}

.profile-section {
  flex-shrink: 0;
}

.profile-picture {
  width: 15rem;
  height: 20rem; /* Adjusted image height */
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(0.5) rotate(-45deg);
  animation: profileAnimation 2s ease forwards;
  transition: transform 0.3s ease;
}

@keyframes profileAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5) rotate(-45deg);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2) rotate(20deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.profile-picture:hover {
  transform: scale(1.1);
}

.introduction-section {
  flex-grow: 1;
  margin-left: 20px;
  transition: margin-left 0.3s ease;
}

.introduction-section:hover {
  margin-left: 30px;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.contact-button i {
  margin-left: 5px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text inside introduction-section */
  }

  .profile-picture {
    width: 20rem;
    height: 20rem;
    margin-right: 0;
    margin-bottom: 10px; /* Add margin-bottom for spacing */
  }

  .introduction-section {
    margin-left: 0;
    margin-top: 20px;
  }
}
