footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.social-links a:hover {
  text-decoration: underline;
  color: #1e90ff; /* Adding a color change on hover for better visibility */
}
